<h6>
    <strong>Bag Total: ${{ total|floatformat:2 }}</strong>
</h6>
<h6>
    <strong>Total Discount: ${{ request.session.total_discount }}</strong>
</h6>
<h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6"></div>
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label for="promoCode">
                    <strong>Promo Code</strong>
                </label>
                <input type="text"
                       class="form-control promoCode"
                       name="promoCode"
                       placeholder="Enter Promo Code"
                       value="{{ request.session.discount_code }}" />
                <button class="btn btn-outline-black rounded-0 btn-lg applyPromoCode">Apply</button>
            </div>
        </div>
    </div>
</div>
<h4 class="mt-4">
    <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
</h4>
{% if free_delivery_delta > 0 %}
    <p class="mb-1 text-danger">
        You could get free delivery by spending just
        <strong>${{ free_delivery_delta }}</strong> more!
    </p>
{% endif %}
