{% extends "base.html" %} 
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-4">Wishlist</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if wishlist and wishlist.products.all %}
      <div class="table-responsive rounded">
        <table class="table table-sm table-borderless">
          <thead class="text-black">
            <tr>
              <th scope="col">Product Info</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          {% for item in wishlist.products.all %}
          <tr>
            <td class="p-3 w-25">
              <img
                class="img-fluid rounded"
                src="{{ item.image.url }}"
              />
            </td>
            <td class="py-3">
              <p class="my-0"><strong>{{ item.name }}</strong></p>
            
            
              <p class="my-0 small text-muted">
                SKU: {{ item.sku|upper }}
              </p>
            </td>
            <td class="py-3">
              <p class="my-0">{{ item.price }}</p>
            </td>
            <td>
              <div class="d-flex flex-column">
              
              <a href="{% url 'product_detail' item.id %}" class="btn btn-outline-black rounded-0 btn-lg mb-2" data-action="products">Buy</a>
              <button id="remove_{{ item.id }}" type="button" class="btn btn-outline-black rounded-0 btn-lg remove-item" data-action="wishlist">Remove</button>
            </div>
            </td>
          
          </tr>
          {% endfor %}

          <tr>
          </tr>
        </table>
      </div>
      {% else %}
      <p class="lead mb-5">Your wishlist is empty</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html'%}

<script type="text/javascript">
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).prev('.update-form');
        console.log(form)
        form.submit();
    })

    $('.remove-item').click(function(e) {
      
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/wishlist/remove/${itemId}/`;
        var data = {
          'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}
